* { font-family: FiraSans, sans-serif; }

#index {
    height: 100%;
}

[data-position="right"] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    z-index: 15;
    z-index: 100; /* -> drawer */
}
section[role="region"][data-position="right"] {
    position: absolute;
}
[data-position="right"].current {
    animation: rightToCurrent 0.4s forwards;
    -webkit-animation: rightToCurrent 0.4s forwards;
}
[data-position="right"].right {
    animation: currentToRight 0.4s forwards;
    -webkit-animation: currentToRight 0.4s forwards;
}
[data-position="current"].left {
    animation: currentToLeft 0.4s forwards;
    -webkit-animation: currentToLeft 0.4s forwards;
}
[data-position="current"].current {
    animation: leftToCurrent 0.4s forwards;
    -webkit-animation: leftToCurrent 0.4s forwards;
}
[data-position="back"] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0;
    /* z-index: 100; -> drawer */
}
[data-position="back"].fade-in {
    z-index: 120;
    animation: fadeIn 0.2s forwards;
    -webkit-animation: fadeIn 0.2s forwards;
}
[data-position="back"].fade-out {
    animation: fadeOut 0.2s forwards;
    -webkit-animation: fadeOut 0.2s forwards;
}

/* Headers */
#headers section[role="region"] {
    margin-bottom: 1.5rem;
}
#headers section[role="region"]:not(#drawer) {
    display: inline;
}
#headers article header:first-child {
    margin-top: 1.5rem;
}
#headers section[role="region"] header h2 {
    margin: 0 0 1.5rem 0;
}

ul, ol, li {
    list-style: square;
    margin: 6px 10px;
    font-size: 1.4rem;
}

#board {
    position: absolute !important;
    top: 25px !important;
    left: 0px !important;
}

#options form > label {
    display: block;
    color: #000;
    margin: 10px 0;
    text-align: center;
    font-size: 1.5rem;
}

section[role="region"] > header:first-child .icon.isolus-icon:before {
    top: 1rem;
    left: 0px;
}
.isolus-icon:before {
    width: 3rem;
    height: 3rem;
    position: absolute;
    content: "";
    background: url("../img/icons.png") no-repeat scroll 0% 0% / 3rem 3rem transparent;
}
.info:before {
    background-position: 0px 0px;
}

.switch-toggle {
    font-size: 1.5rem;
}
.switch-isolus {
    background-color: #ddd;
}
.switch-isolus.switch-isolus-gray a {
    background-color: #95A5A5;
}
.switch-isolus.switch-isolus-blue a {
    background-color: #16B6F0;
}
.switch-isolus.switch-isolus-pink a {
    background-color: #F53791;
}
.switch-isolus input:checked + label {
    color: #FED583;
}

#message-0, #message-1 {
    position: absolute;
    width: 100%;
    z-index: 1000;
    color: #000;
    text-align: center;
    line-height: 0.2;
}
#message-1 {
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.piece {
    display: inline-block;
    background-image: url(../img/sprite-pieces.png);
    height: 53px;
    width: 53px;
}
